html, body {
    margin: 0;
    padding: 0;
    width: 375px;
    font-family: "Source Sans 3", sans-serif;
    font-size: 13px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border-bottom: 2px solid #C6C6C6;
}

.logo {
    width: 127px;

}

.user-avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.username-info {
    display: flex;
    justify-content: start;
    align-items: center; 
    padding: 10px;
}

.username-name {
    margin: 0;
    padding-left: 10px;

}

 .username-info .font-small {
    font-size: 12px;
}

.font-small{
    font-weight: 400;
}

.post-photo {
    width: 100%
}

.post-interactions {
    display: flex;
    justify-content: start;
    margin-top: 5px;
}

.icons {
    width: 23px;
    padding: 8px;;
}

.icons:hover {
    opacity: 0.5;
    border: 1px solid black;
    border-radius: 50%;
}

.bold-text {
    font-weight: bold;
    margin-left: 10px;

}

.likes {
    margin-top: 5px;
    margin-bottom: 0;
}

.comment {
    margin-top: 5px;
}